.alt-header {
  padding: 50px 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}

.alt-header__tittle {
  font-size: 32px;
  font-weight: 900;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
